{% load static %}

<div class="row card shadow">
    <div class="col-2">
        <img src="{{answer.author.avatar.url}}">
        <div class="card-rate">
            <label>{{ answer.rating }}</label>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretup.svg' %}"></button>
                <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretdown.svg' %}">
                </button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <p>{{ answer.text }}</p>
        <div class="form-check">
            {% if answer.is_correct %}
                <input class="form-check-input" type="checkbox" checked>
            {% else %}
                <input class="form-check-input" type="checkbox">
            {% endif %}
            <label class="form-check-label" for="flexCheckDefault">
                Correct
            </label>
        </div>
    </div>
</div>