<footer>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Map</a>
        </li>
      </ul>
      <p class="text-white">Designed and built with all the love in the world by me with the help of me.<br>
      Currently v5.0.0-beta3. Code licensed MIT, docs CC BY 3.0.</p>
    </footer>