<div class="members-block">
    <h2>Best Members</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Daisy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pig</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sword</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Diamond</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bookshelf</a>
        </li>
    </ul>
</div>