{% extends "include/base.html" %}
{% load static %}

{% block content %}
  <div class="page-name">
              <h2>Log In</h2>
            </div>
  <div class="error-block">
              <ul>
                <li><p class="text-danger">Some FATAL EROR!</p></li>
              </ul>
            </div>
  <form class="any-form">
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" maxlength ="20" placeholder="Enter your login here">
                  <p class="text-end text-secondary">0/20</p>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" maxlength ="30">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="********">
                  <p class="text-end text-secondary">0/30</p>
                  <button type="button" class="btn btn-success btn-form-footer">Log in!</button>
                  <br>
                  <div class="create-account-ref">
                    <a href="{% url 'signup' %}">create new account</a>
                  </div>
                </div>
              </div>
            </form>
{% endblock content %}
