{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="page-name">
      <h2>Log In</h2>
  </div>
  <form novalidate class="any-form" action="/login/" method="post">
      {% bootstrap_form form %}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      {% buttons %}
        <button type="submit" class="btn btn-success">
        Log in!
        </button>
      {% endbuttons %}
  </form>
{% endblock content %}
