{% extends "include/base.html" %}
{% load static %}

{% block content %}
    <div class="row card-lg">
        <div class="col-3">
            <img src="{% static 'img/bookshelf.png' %}">
            <div class="card-rate">
                <label>5</label>
                <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretup.svg' %}">
                    </button>
                    <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretdown.svg' %}">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h2>{{ question.title }}</h2>
            <p>{{ question.text }}</p>
            <span class="card-lg-footer-span">
                  <label>Tags:</label>
                  <a href="#">BarakObama</a>
                  <a href="#">threat</a>
            </span>
        </div>
    </div>
    <div class="cards-answers">
        {% for answer in answers %}
            {% include "include/card_answer.html" %}
        {% endfor %}
    </div>
    <form class="form-floating form-answer">
        <textarea class="form-control" placeholder="Leave a comment here" id="answer"></textarea>
        <label for="answer">Leave your answer here</label>
        <button type="button" class="btn btn-success btn-form-footer">Answer</button>
    </form>
{% endblock content %}
