{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="row card-lg">
        <div class="col-3">
            <img src="{{ question.author.avatar.url }}">
            <div class="card-rate">
                <label>{{ question.rating }}</label>
                <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretup.svg' %}">
                    </button>
                    <button type="button" class="btn btn-outline-light"><img src="{% static 'img/caretdown.svg' %}">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h2>{{ question.title }}</h2>
            <p>{{ question.text }}</p>
            <span class="card-lg-footer-span">
                  <label>Tags:</label>
                  {% for tag in question.tags.all %}
                      <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                  {% endfor %}
            </span>
        </div>
    </div>
    <div class="cards-answers">
        {% for answer in answers %}
            {% if forloop.counter == answers|length %}
                {% with last_question=1 %}
                    {% include "include/card_answer.html" %}
                {% endwith %}
            {% else %}
                {% include "include/card_answer.html" %}
            {% endif %}
        {% endfor %}
    </div>
    {% block pagination %}
        {% include "include/pagination.html" %}
    {% endblock pagination %}


    {% if request.user.is_authenticated %}
          <form class="any-form" action="{% url 'question' pk=question.id %}#last_question" method="post">
    {% else %}
          <form class="any-form" action="{% url 'question' pk=question.id %}#id_pagination" method="post">
    {% endif %}
    {% bootstrap_form form %}
    {% csrf_token %}
    {% buttons %}
      <button type="submit" class="btn btn-success">
          Answer
      </button>
    {% endbuttons %}
  </form>
{% endblock content %}
